body {
 	font-family: 'Montserrat', sans-serif;
    color:#000;
}
body .container {
    width: 100%;
    max-width: 1170px;
}
body img {
   max-width: 100%;
}
section , header , footer {
    float: left;
    width: 100%;
}
.yellow-color{
    color: #F4B423 !important;
}
.yellow-bg{
    background: #F4B423 !important;
}
.blue-color{
    color: #186780 !important;
}
.blue-bg{
    background: #186780 !important;
}
.text-center
{
    text-align: center !important;
}
section , header , footer {
    float: left;
    width: 100%;
}
a {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer !important;
    display: inline-block;
    text-decoration: none !important;
}
.error_span {
    color: red;
    display: none;
}
.pad-top-10 {
    padding-top: 10px !important
}
.pad-top-20 {
    padding-top: 20px !important
}
.pad-top-30 {
    padding-top: 30px !important
}
.pad-top-40 {
    padding-top: 40px !important
}
.pad-top-50 {
    padding-top: 50px !important
}
.pad-top-60 {
    padding-top: 60px !important
}
.pad-top-70 {
    padding-top: 70px !important
}
.pad-top-80 {
    padding-top: 80px !important
}
.pad-top-90 {
    padding-top: 90px !important
}
.pad-top-100 {
    padding-top: 100px !important
}
.pad-top-120 {
    padding-top: 120px !important
}
.pad-top-130 {
    padding-top: 130px !important
}
.pad-top-160 {
    padding-top: 160px !important
}
.pad-top-180 {
    padding-top: 180px !important
}
.pad-bot-10 {
    padding-bottom: 10px !important
}
.pad-bot-20 {
    padding-bottom: 20px !important
}
.pad-bot-30 {
    padding-bottom: 30px !important
}
.pad-bot-40 {
    padding-bottom: 40px !important
}
.pad-bot-50 {
    padding-bottom: 50px !important
}
.pad-bot-60 {
    padding-bottom: 60px !important
}
.pad-bot-80 {
    padding-bottom: 80px !important
}
.pad-bot-90 {
    padding-bottom: 90px !important
}
.pad-bot-100 {
    padding-bottom: 100px !important
}
.pad-bot-150 {
    padding-bottom: 150px !important
}
.pad-bot-200 {
    padding-bottom: 200px !important
}
.pad-left-10
{
    padding-left: 10px !important
}
.pad-left-20
{
    padding-left: 20px !important
}
.pad-left-30
{
    padding-left: 30px !important
}
.pad-left-40
{
    padding-left: 40px !important
}
.pad-left-50
{
    padding-left: 50px !important
}
.pad-left-60
{
    padding-left: 60px !important
}
.pad-left-70
{
    padding-left: 70px !important
}
.pad-left-80
{
    padding-left: 80px !important
}
.pad-left-90
{
    padding-left: 90px !important
}
.pad-right-10
{
    padding-right: 10px !important
}
.pad-right-20
{
    padding-right: 20px !important
}
.pad-right-30
{
    padding-right: 30px !important
}
.pad-right-40
{
    padding-right: 40px !important
}
.pad-right-50
{
    padding-right: 50px !important
}
.pad-right-60
{
    padding-right: 60px !important
}
.pad-right-70
{
    padding-right: 70px !important
}
.pad-right-80
{
    padding-right: 80px !important
}
.m-b-10 {
    margin-bottom: 10px !important
}
.m-b-20 {
    margin-bottom: 20px !important
}
.m-b-25 {
    margin-bottom: 25px !important
}
.m-b-30 {
    margin-bottom: 30px !important
}
.m-b-40 {
    margin-bottom: 40px !important
}
.m-b-50 {
    margin-bottom: 50px !important
}
.m-b-60 {
    margin-bottom: 60px !important
}
.m-t-5 {
    margin-top: 5px !important
}
.m-t-10 {
    margin-top: 10px !important
}
.m-t-15 {
    margin-top: 15px !important
}
.m-t-20 {
    margin-top: 20px !important
}
.m-t-30 {
    margin-top: 30px !important
}
.m-t-40 {
    margin-top: 40px !important
}
.m-t-50 {
    margin-top: 50px !important
}
.m-t-60 {
    margin-top: 60px !important
}
.m-t-70 {
    margin-top: 70px !important
}
.m-t-80 {
    margin-top: 80px !important
}
.m-l-20 {
    margin-left: 20px !important;
}
.m-l-30 {
    margin-left: 30px !important;
}
.m-l-60 {
    margin-left: 60px !important;
}
.m-l-80 {
    margin-left: 80px !important;
}
.m-r-10 {
    margin-right: 10px !important;
}
.m-r-20 {
    margin-right: 20px !important;
}
.m-r-30 {
    margin-right: 30px !important;
}
.m-r-50 {
    margin-right: 50px !important;
}
.m-r-60 {
    margin-right: 50px !important;
}
.no-margin {
    margin:0px !important;
}
.no-pad {
    padding:0px !important;
}
button {
    outline: none !important;
}
.yellow-light-color
{
    background: #f5b524c2;
}
i.fa-star {
    color:#9c9c9c;
}
.logo a img {
    width: 70%;    
}
.sign-buttons {
    float: right;
}
.sign-buttons a {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0px 20px;
    color: #186780;
}
.sign-buttons a:hover {
    color: #F4B423;
}
.sign-up-btn {
    background: #f5b524;
    border-radius: 25px;
    font-weight: 600;
    padding: 8px 15px 6px 15px !important;
    font-size: 16px;
}
.sign-up-btn:hover {
    color: #f5b524 !important;
    background: #006680;
}
.sign-in-btn {
    background: #1B667F;
    color: #f5b524;
    border-radius: 25px;
    font-weight: 600;
    padding: 8px 15px 6px 15px !important;
    font-size: 16px;
    margin-left: 10px;
}
.sign-in-btn:hover {
    color: #006680 !important;
    background: #f5b524;
}
.sec-head p {
    color: #636363;
    font-size: 18px;
}
.sec-head ul li {
    color: #636363;
    font-size: 18px;
}
.sec-head ul li::marker {
    color: #006680;
    font-size: 22px;
}
.sec-head h3 {
    color: #006680;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0px;
    margin: 0px;
}
ul.slick-dots {
    display: none;
}
.sec-head h4 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.what-need-data {
    float: left;
    width: 100%;
}
.inner-div {
    padding: 10px 15px 0px 15px;
}
.inner-div p {
    font-size: 15px !important;
    color: #636363 !important;
}
.inner-div {
    background: #f6f6f8;
}
.inner-div i {
    font-size: 16px;
    color: #006680;
}
.customer-sec {
    color: #636363;
}
.customer-sec h3 {
    font-size: 20px;
}
.customer-sec p {
    font-size: 14px;
}
.seller-box img {
    border-radius: 8px;
    width: 100%;
}
.seller-box div {
    background: #f6f6f8;
    border-radius: 8px;
    width: 100%;
}
.seller-box h4 {
    padding: 0px 12px;
    margin: 22px 0px 14px 0px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 15px;
}
.seller-box h4 b, .seller-box2 h4 b {
    font-weight: 600;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
.seller-box h4 span i , .seller-box2 h4 span i {
    color: #d6d6d6;
    font-size: 10px;
}
.seller-box h4 span .seller-box2 h4 span {
    letter-spacing: -1px;
    vertical-align: middle;
}
.seller-box div h6 {
    padding: 0px 15px;
    margin-bottom: 15px;
    color: #212121;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.seller-box div p {
    color: #7d7d7d;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 22px;
}
.seller-box {
    padding: 0px 10px;
    margin-bottom: 15px;
}
.seller-box2 {
    padding: 0px 10px;
    margin-bottom: 15px;
}
.seller-box2 div h5 {
    font-size: 22px;
    font-weight: 600;
    color: #006680;
}
.nic p {
    font-size: 14px !important;
    color: #636363 !important;
}
.nic i {
    font-size: 16px !important;
    color: red;
}
.arrow-style2 button.slick-prev.slick-arrow {
    background-image: url(../images/arrow-left.png);
    background-size: 18px;
    width: 30px;
    height: 30px;
    background-color:#006680;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999;
    top:45% !important;
    margin-left: 20px;
}
.arrow-style2 button.slick-next.slick-arrow {
    background-image: url(../images/arrow-right.png);
    background-size: 18px;
    width: 30px;
    height: 30px;
    background-color:#006680;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999;
    margin-right: 20px;
    top:45% !important;
}
.arrow-style2 .slick-prev:before, .arrow-style2 .slick-next:before  {
    display: none;
}
.seller-box2 h4 {
    font-size: 18px;
}
.seller-box2 div {
    width: 100%;
}
footer {
    background: #f5b524;
}
.footer-section a img {
    width: 230px;
}
.footer-section h6 {
    color: black;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 12px;
}
.footer-section h4 {
    margin-top: 28px;
}
.social-icon a {
    color: #186780;
    font-size: 20px;
    padding-right: 10px;
}
.footer-section span {
    font-size: 14px;
    color: black;
    display: block;
    padding-bottom: 10px;
}
.footer-section span a {
    color: black;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.footer-section p {
    color: #232f3f;
    font-size: 16px;
}
.footer-list h3 {
    font-size: 20px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.8px;
}
.footer-list ul {
    list-style: none;
}
.footer-list ul li a {
    color: black;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.footer-list a {
    display: block;
    font-size: 16px;
    color: black;
    font-weight: 400;
    padding-bottom: 10px;
}
.footer-list h5 a {
    color: #362200;
    font-weight: 400;
}
.footer-list ul li a:hover {
    color:#1a97b7;
}
.copyright-sec {
    background: black;
}
.copyright-sec h6 {
    color: white;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.6px;
    text-align: center;
}
.copyright-sec h6 span {
    float: right;
}
.footer-section p a:hover {
    color:#f28d01;
}
.footer-section h5 a:hover {
    color:#f28d01;
}
.modal-content {
    box-shadow: none !important;
    border: none !important;
    position: relative;
}
.modal-size1 .modal-dialog {
    width: 100%;
    max-width: 850px;
}
.inner-modal {
    background: #ffffffe0 !important;
    border-radius: 15px;
}
.custom-modal{
    border-radius: 15px;
    padding: 60px; 
}
.custom-modal-bg1 {
    background: url(../images/popup-background.png);
    background-size: 100% 100%;
}
.custom-modal1-form h4 {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.inner-modal-side-one {
    padding: 80px 20px 80px 20px;
    border-radius: 15px 0px 0px 15px;
    background: #f5b524c2;
}
.form-field-style1 {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 14px;
    margin-bottom: 25px;
}
.form-field-style1-btn1 {
    background: #f6b630;
    border: none;
    border-radius: 30px;
    color: white;
    letter-spacing: 0.7px;
    margin: 0 auto;
    display: block;
    padding: 10px 30px;
}
.form-field-style1-btn1:hover {
    background:#186780;
    color: white;
}
.forget-label{
    font-size: 12px;
}
.close1 {
    position: absolute;
    right: -8px;
    top: -8px;
    background: #006680;
    border: none;
    border-radius: 100%;
    color: white;
    font-size: 22px;
    width: 35px;
    height: 35px;
    outline: none !important;
}
.custom-modal2-form {
    padding: 50px 30px 10px 10px;
}
.forget-password a {
    font-size: 12px;
    color: #f5b524;
    font-weight: 500;
    padding-top: 10px;
}
.modal-size2 .modal-dialog {
    max-width: 450px;
}
.custom-modal-bg2 {
    background: url(../images/popup-background.png);
    background-size: 100% 100%;
}
.custom-modal2-inner {
    background: #ffffffbd;
    border-radius: 15px;
    padding: 30px;
}
.custom-modal2 img {
    width: 80%;
}
.custom-modal2 h6 {
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 25px;
    font-size: 15px;
}
.custom-modal2-btn {
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-radius: 30px;
    font-size: 13px;
    border: none;
}
.verify-account-data-btn {
    background: #F5B524;
    color: white;
    font-weight: 500;
    padding: 14px 50px;
    letter-spacing: 1px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
}
.verify-account-data {
    background-color: #ffffffe0;
    padding: 30px;
    border-radius: 15px;
}
.verify-account-data h4 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}
.verify-account-data p {
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 15px;
    line-height: 24px;
}
.verify-account-data-input {
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #1B667F;
    background: #1b667f1a;
    margin-right: 5px;
}
.verify-account-data form span {
    margin: 0px 3px;
}
.verify-account-data h6 button {
    margin-top: 20px;
    padding: 15px 35px;
    font-size: 14px;
}
.succes-text {
    padding: 30px 40px;
    border-radius: 15px;
    background:#fff;
}
.succes-text i {
    background: #05bb35;
    width: 70px;
    height: 70px;
    color: white;
    line-height: 70px;
    font-size: 30px;
    border-radius: 100%;
}
.succes-text h4 {
    font-size: 16px;
}
.modal-size3 .modal-dialog {
    max-width: 700px !important;
    width: 100% !important;
}
.service-catagory-header h2 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
.service-catagory-header h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.service-catagory-main {
    border-radius: 15px;
    padding: 30px;
    background: #ffffffd9;
}
.service-popup {
    background: #eaf0f1;
    border-radius: 15px;
    margin-bottom: 20px;
}
.service-popup h3 {
    font-size: 16px;
    font-weight: 600;
    color: #006680;
}
.service-popup h3 {
    font-size: 16px;
}
.verify-address-data {
    padding: 30px;
    background: #ffffffd9;
    border-radius: 15px;
}
.form-field2 p {
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.form-field-style2 {
    background: #1b667f1a;
    border: 1px solid #006680;
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    padding: 0px 10px;
}
.service-popup:hover {
    background: #F5B524;
}
.verify-address-data h2 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
.form-field2 textarea {
    height: 70px;
}
.form-field2-btn {
    font-size: 16px;
    border: none;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 0.7px;
    padding: 10px 20px;
}
.form-field3-btn{
    margin:0 auto;
    display: block;
}
.form-field2-type a{
    border: 1px solid #006680;
    font-size: 14px;
    padding: 10px 50px;
    position: relative;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 5px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.form-field2-type a i {
    position: absolute;
    left: -7px;
    top: -7px;
    background: #21c179;
    color: white;
    font-size: 10px;
    padding: 4px;
    border-radius: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.form-field2-type .active i {
    opacity: 1;
    visibility: visible;
}
.form-field2-type .active {
    background: #f6b630;
    color: #1B667F;
    border: 1px solid #f6b630;
}
.promo-code-sec {
    padding: 35px 40px;
    background: #ffffffd1;
    border-radius: 15px;
}
.promo-code-sec h4 {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}
.coupon-field-input {
    background: #eeeeee;
    border: none;
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    padding: 0px 20px;
    letter-spacing: 0.8px;
    font-weight: 500;
}
.coupon-field input::placeholder{
    font-weight: 400;
}
.coupon-field {
    position: relative;
}
.coupon-field-btn {
    position: absolute;
    right: 0px;
    height: 50px;
    border: none;
    font-weight: 500;
    padding: 0px 25px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 10px;
}
.promo-code-data h3 {
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 700;
}
.payment-offers h6 {
    color: #4a4a4a;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 600;
}
.payment-offers p {
    color: #4a4a4a;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 500;
}
.payment-offers a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.verify-address-data h4 {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}
.time-slot-data {
    padding: 35px 40px;
    background: #ffffffd1;
    border-radius: 15px;
}
.time-slot-data h4 {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}
.form-field2-select {
    background: #1b667f1a;
    border: 1px solid #006680;
    height: 38px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    color: black;
    padding: 0px 10px;
}
.custom-modal5 {
    float: left;
    width: 100%;
    background: white;
    padding: 30px 30px;
    text-align: center;
}

/*Rating Stars CSS Starts Here*/

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
}
/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
}
/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}
/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

/*Rating Stars CSS Ends Here*/

.custom-modal1 h6 {
    text-align: center;
    color: black;
    font-size: 24px;
    padding: 0px 20px;
    margin-top: 28px;
    line-height: 34px;
    font-weight: 600;
    letter-spacing: 0.8px;
}
.confirm-form-sec {
    float: left;
    width: 100%;
    background: #eeeeee;
    padding: 30px 40px;
}
.banner-sec {
    background:#F5B524;
    background-size: cover;
}
.banner-form h3 {
    color: #1B667F;
    font-size: 55px;
    letter-spacing: 1px;
    font-weight: 700;
    padding-bottom: 20px;
}
.form-search1 {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    position: relative;
}
.form-search1 p {
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 8px;
}
.form-search1 input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 18px;
}
.search-catagory-section1 h4 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 2px;
}
.search-catagory button {
    padding: 2px 18px;
    height: 26px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 14px;
    margin-right: 8px;
}
.search-catagory button:hover {
    background: #1b667f;
    color: white;
    border: 1px solid #1b667f;
}
/*.slick-slide img {
    display: block;
    width: 100%;
}*/
.section-2 {
    background: #F5B524;
}
.section-2-data p {
    font-size: 16px;
    color: white;
}
.section-2-data h4 {
    font-size: 45px;
    font-weight: 700;
}
.section-2-data {
    width: 100%; 
    max-width: 80%;
}
.section-2-btn {
    color: white;
    background: #006680;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
}
.section-2-btn:hover {
    color: white;
}
.marketplace-sec {
    text-align: center;
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}
.marketplace-sec h3 {
    font-size: 16px;
    font-weight: 500;
}
.inner-modal-side-one h3 {
    font-size: 40px;
    font-weight: 700;
}
.inner-modal-side-one p {
    font-size: 15px;
    color: black;
}
.inner-modal-side-one-btn {
    background: transparent;
    border-radius: 25px;
    padding: 7px 18px;
    font-size: 14px;
    border: 1px solid #186780;
}
.inner-modal-side-one-btn:hover {
    background:#186780;
    color: white !important;
}

.form-search2 {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    position: relative;
    margin-left: -10px;
}
.form-search2 input {
    background: #f28c00;
    color: white;
    border: 0px;
    font-size: 18px;
    padding: 8px 35px;
    outline: none;
    border-radius: 0px 5px 5px 0px;
}
.form-search2 p {
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 8px;
}
.form-search2 i {
    position: absolute;
    left: 30px;
    top: 37px;
    color: #b3b3b3;
}
.custom-nav-dashboard a {
    font-size: 18px;
    color: #1b667f !important;
    font-weight: 600;
    padding-right: 40px !important;
}
.custom-nav-dashboard a:hover {
    color: #f28c00 !important;
}
.custom-nav-dashboard .active {
    color: #f28c00 !important;
}


.services-inner-1 {
    float: right;
}
.services-inner-1 img {
    padding-left: 20px;
}
.services-inner {
    background: #f6f6f8;
    border-radius: 5px;
}
.services-title {
    font-size: 16px;
    font-weight: 600;
}
.services-inner-des {
    font-size: 14px;
    color: #636363;
}
.rating-section i {
    font-size: 16px;
    color: #006680;
}
.price-section {
    font-size: 16px;
    color: #636363;
    padding-top: 2px;
}
.services-inner-btn1 {
    background: #f28c00;
    font-size: 12px;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    border:1px solid #f28c00;
}
.services-inner-btn1:hover {
    background:transparent;
    border:1px solid;
}
.services-inner-btn2 {
    background: #186780;
    font-size: 12px;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    float: right;
    border:1px solid #186780;
}
.services-inner-btn2:hover {
    background:transparent;
    border:1px solid #186780;
}
.services-box:hover
{
    -webkit-transform: scale(1.12);
    transition: 1.5s;
}
.compare-table {
    float: left;
    width: 100%;
}
.compare-table table {
    width: 100%;
}
.compare-table tr th {
    background: #efefef;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 20px 25px;
    border-bottom: 1px solid #e2e2e2;
    border-bottom: 1px solid #fff;
    width: 25%;
}
.compare-table tbody tr td {
    border-bottom: 1px solid #ffffff;
    padding: 0px 20px;
    border-left: 1px solid #fff;
    background: #efefef;
}

.compare-table tbody tr td b {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.compare-table tr td .custom-btn1 {
    padding: 10px 20px !important;
    margin: 20px auto;
    display: block;
    width: 180px;
    text-align: center;
}
.compare-table tbody tr:nth-child(1) td {
    padding: 0px 2px;
}
.comparision-table-btn {
    color: white;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 70%;
    font-weight: 500;
}

td.no-visib {
    opacity: 1;
    visibility: visible;
    background: #efefef;
}

td.no-visib img {
    opacity: 0;
}

.steps-text h5 {
    font-size: 18px;
    font-weight: 400;
}
.steps-text h5.active {
        font-weight: 600;
}
.steps-text h5 span {
    background: #1b667f;
    padding: 4px 8px 4px 12px;
    border-radius: 30px;
    color: white;
}
.payment-data {
    background: #eff3f4;
    padding: 30px 20px;
    border: 1px solid #949595;
}
.payment-summary {
    padding: 8px;
    border: 1px solid #949595;
}
.payment-data label {
    display: contents;
    font-size: 18px;
    font-weight: 600;
}
.payment-data-inner-1 p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 5px;
}
.payment-data-inner-input {
    width: 100%;
    font-size: 15px;
    border: 1px solid #b9bbbc;
    height: 50px;
    outline: none;
    padding: 0px 10px;
}
.payment-data h3 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.summary-text p {
    font-size: 14px;
    font-weight: 500;
}
.payment-summary-2 {
    padding: 0px 15px;
}
.summary2-text h2 {
    font-size: 18px;
}
.summary2-text h3 {
    font-size: 16px;
    text-align: right;
}
.summary2-text h4 {
    font-size: 16px;
}
.payment-confirm-btn {
    font-size: 18px;
    font-weight: 600;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
.thankyou-book-sec-6 h2 {
    font-size: 30px;
    font-weight: 600;
}
.thankyou-book-sec-6 hr {
    border-style: dashed;
    color: black;
    border-color: #186780;
}
.thankyou-book-sec-7 p {
    font-size: 20px;
}
.thankyou-book-sec-8 {
    color: white;
    background: #186780;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
}
.thankyou-book-sec-8:hover {
    color: white;
    background:#f5b524;
}
.thankyou-book-sec {
    text-align: center;
}
.thankyou-book-sec h2 {
    font-size: 30px;
    font-weight: 700;
}
.thankyou-book-sec p {
    font-size: 18px;
    width: 100%;
    max-width: 80%;
    margin: 0 auto !important;
    display: block;
}
.thankyou-book-sec-1 h2 {
    font-size: 30px;
    font-weight: 700;
}
.thankyou-book-sec-2 h3 {
    color: #636363;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
}
.thankyou-book-sec-2 h3 span {
    font-size: 25px;
}
.thankyou-book-sec-3 img {
    width: 100%;
}
.thankyou-book-sec-4 p {
    font-size: 20px;
    margin-bottom: 30px;
}
.thankyou-book-sec-5 p {
    font-size: 18px;
    margin-bottom: 10px;
}
.thankyou-book-sec-5 p i{
    color: #40bf42;
}
.thankyou-book-sec-5 h2 {
    font-size: 25px;
    font-weight: 600;
}
.product_quantity input {
    width: 100%;
    border: 1px solid #186780;
    color: #186780;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 10px;
    outline: none;
}
.pricing-pack-section-3 h4 {
    font-size: 30px;
    font-weight: 600;
}
.pricing-pack-section-3-form label {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}
.pricing-pack-section-3-form-input {
    width: 100%;
    background: #f1f1f1;
    border: none;
    padding: 14px 15px;
    color: black;
    outline: none;
    font-size: 12px;
}
.pricing-pack-section-3-form-btn {
    background: #f28c00;
    font-size: 14px;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid #f28c00;
    float: right;
}
.comparison-sec1 h3
{
        font-size: 25px;
        font-weight: 600;
}
.pricing-pack-section1 h2 {
    font-size: 34px;
    font-weight: 600;
}
.pricing-pack-section1 h4 {
    font-size: 18px;
    padding-right: 5px;
    padding-top: 5px;
}
.pricing-pack-section2 h3 {
    font-weight: 600;
    font-size: 15px;
}
.pricing-pack-section2 p {
    font-size: 14px;
}
.tab-content {
    border: 1px solid #b8b8b8;
}
a.nav-link {
    border: 1px solid #b8b8b8 !important;
    border-bottom: 3px solid #b8b8b8 !important;
}
a.nav-link.active {
    border-bottom: 3px solid #f4b423 !important;
}
.nav-tabs li a {
    font-size: 20px;
    font-weight: 600;
}
.nav-tabs li a {
    padding: 10px 34px;
}

.pricing-pack-section-btn {
    font-size: 16px;
    font-weight: 600;
}
.pricing-pack-section-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 90%;
    color: white;
}
.pricing-pack-section-btn:hover {
    color: #186780;
}
.pricing-pack-section-btn2 {
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-weight: 600;
}
.pricing-pack-section-3 h2 {
    font-size: 34px;
    font-weight: 700;
}
.pricing-pack-section-3 h3 {
    font-size: 20px;
    font-weight: 600;
}
.pricing-pack-section-3 p {
    font-size: 16px;
}
.pricing-pack-section-3 ul li::marker {
    color: #f5b524;
}
.pricing-pack-section-3 ul li {
    font-size: 16px;
    padding-bottom: 5px;
}
.thankyou-book-sec-1 h2 img {
    width: 15%;
    border-radius: 5px;
}






/*=============user dashboard area==================*/

.account-handlers {
    width: 100%;
    border-right: 1px solid silver;
    height: 100%;
}
.account-handlers ul {
    padding: 0px;
    list-style: none;
}
.account-handlers ul li {
    margin-bottom: 20px;
}
.account-handlers ul li a {
    display: block;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 15px;
}
.account-handlers ul li a i {
    margin-right: 10px;
}
.account-handlers ul li.active a {
    color: #1b667f;
    font-weight: 600;
}
.dispute-box {
    float: left;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
}
.dispute-head {
    width: 100%;
}
.dispute-number {
    float: left;
}

.dispute-status {
    float: right;
}

.dispute-number h5 {
    letter-spacing: 0.5px;
    font-size: 16px;
}

.dispute-status h5 {
    font-size: 14px;
    letter-spacing: 0.3px;
}
.dispute-status h5 span {
    padding-right: 10px;
    color: green;
    font-weight: 600;
}
.dispute-detail {
    float: left;
    width: 100%;
}
.dispute-detail img {
    width: 100%;
    border-radius: 5px;
}
.dispute-detail p {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.3px;
}
.account-over {
    width: 100%;
    max-height: 500px;
    overflow-x: hidden;
}
.account-handlers ul li.active {
    border-right: 4px solid #F4B423;
}
.account-handlers ul li a {
    display: block;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 10px 0px;
    color: #000;
}

.account-over::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F4B423; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b667f; 
}



.avatar-name {
    display: inline-block;
    vertical-align: middle;
}
.avatar-name h4 {
    font-size: 24px;
    letter-spacing: 1px;
}

.avatar-name p {
    color: grey;
    letter-spacing: 1px;
}

/*.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}*/
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
 
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-upload {
    position: relative;
/*    max-width: 205px;*/
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.avatar-upload .avatar-preview {
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 100%;
    border: 2px solid #bbbbbb;
}
.avatar-upload .avatar-edit input + label {
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}

.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #f28d01;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    color: white;
}

.form-field4 {
        padding-top: 20px;
}
.form-field4 p {
    color: grey;
    font-weight: 400;
    letter-spacing: 0.6px;
}


.form-field4 input {
    width: 100%;
    height: 45px;
    border: 1px solid silver;
    border-radius: 5px;
    outline: none;
    padding: 0px 10px 0px 10px;
    font-weight: 500;
}

.form-field4 textarea {
    width: 100%;
    height: 100px;
    border: 1px solid silver;
    border-radius: 5px;
    outline: none;
    padding: 10px 10px;
    font-weight: 500;

}
.form-field4-btn {
    color: white;
    font-weight: 400;
    padding: 14px 40px;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    font-weight: 500;
}

/*.form-field4 {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}*/

.form-field4 h6 input {
    display: inline-block;
    width: 16px;
    height: 25px;
    vertical-align: middle;
    margin-right: 6px;
    margin-top: -3px;
}

.form-field4 h6 {
    color: grey;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 13px;
}


.square-1 {
    border-radius: 0px;
}

a.show-pass {
    position: absolute;
    right: 12px;
    top: 53%;
    color: #b3b3b3;
}

.transactions-table {
    float: left;
    width: 100%;
}

.transactions-table table {
    width: 100%;
}

.transactions-table table thead tr {
    background: white;
    box-shadow: 1px 1px 10px #d0d0d0;
}

.transactions-table table thead tr th {
    font-weight: 600;
    padding: 17px 20px;
    letter-spacing: 1px;
}

.transactions-table tbody tr {
    background: #f4fcff;
    border-bottom: 1px solid #dad8d8;
}

.transactions-table tbody tr td {
    padding: 12px 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.transactions-table tbody tr td a {
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 8px 8px;
    letter-spacing: 0.7px;
    border-radius: 30px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
/*.transaction-value {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}*/
.total-paid {
    /*float: left;*/

/*border-radius: 5px;
    padding: 5px 30px 5px 15px;*/
/*    position: relative;
    padding-left: 55px;
    
    margin-bottom: 15px;*/
}
.total-paid {
    border-radius: 5px;
    padding: 15px 20px 15px 100px;
}
 
.total-paid i {
    position: absolute;
    left: 30px;
    top: 10px;
    background: white;
    color: black;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    text-align: center;
    padding-top: 12px;
    font-size: 30px;
}
.total-paid h5 {
    color: white;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.6px;
}
.total-paid h5 p {
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;

}

.sort-by {
    text-align: right;
}
.sort-by span {
    font-size: 22px;
    font-weight: 500;
}
.bg-green {
    background: green;
}
.bg-red {
    background: red;
}
.col-red {
    color: #f7685a !important;
}
.sort-by select {
    width: 150px;
    border: none;
    background: #e2e2e2;
    padding: 10px 10px;
    letter-spacing: 0.6px;
    outline: none;
    border-radius: 5px;
}
.transactions-table {
    width: 100%;
    overflow-x: auto;
    padding: 0px 5px;
}

.breadcrumb-custom {
    float: left;
    width: 100%;
    text-align: center;
}
.breadcrumb-custom h5 {
    display: inline-block;
    margin: 0px 10px;
}

.breadcrumb-custom ul {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 15px;
    background:#eeeeee;
    overflow:hidden;
    vertical-align: middle;
}



.breadcrumb-custom ul li {
    list-style: none;
    display: inline-block;
}

.breadcrumb-custom ul li a {
    background: #eeeeee;
    width: 42px;
    height: 30px;
    margin: 0px -2px;
    color: black;
    font-weight: 400;
    padding: 5px 0px 0px 0px;
}
.breadcrumb-custom h5 a {
    background: #eeeeee;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    padding-top: 4px;
    border-radius: 100%;
}

.fav-box {
    border-radius: 5px;
    box-shadow: 1px 1px 10px #e2e2e2;
    border: 1px solid #e8e8e8;
}

.fav-head h4 {
    font-size: 18px;
}

.fav-head h4 span {
    float: right;
}
.fav-head h4 span b {
    display: inline-block;
    font-weight: 500;
    border: 1px solid silver;
    padding: 2px 10px;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 30px;
    color: grey;
    margin-left: 6px;
}
.fav-head h5 {
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid #d0d0d0;

}
.fav-head h5 span {
    float: right;
    font-size: 12px;
    letter-spacing: -1px;
}
.fav-head ul {
    list-style: none;
    padding:0px;
}
.fav-head ul li {
    font-size: 13px;
    color: black;
    letter-spacing: 0.5px;
/*    position: relative;
    padding-left: 25px;*/
    padding-bottom: 15px;
}
.fav-head ul li i {
    border: 1px solid #28dc28;
    color: #28dc28;
 /*   position: absolute;
    left: 0px;
    top: 10%;*/
    font-size: 10px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    text-align: center;
    padding-top: 2px;
}
.fav-button a {
    padding: 12px 25px;
    font-size: 14px;
}
.form-field5-btn {
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 14px;
    border: none;
    font-weight: 500;
}


.search-form {
    float: right;
    width: 250px;
    border-bottom: 1px solid grey;
    position: relative;
    margin-top: 20px;
}

.search-form input {
    width: 96%;
    border: none;
    height: 35px;
    outline: none;
}

.search-form button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: none;
    color: grey;
    padding: 4px 4px;
}

.shad1 button {
    top: 8px;
    right: 5px;
}


.all-person {
    width: 100%;
    /*padding: 0px 10px;*/
    max-height: 500px;
    overflow-x: hidden;

}
.all-person-main {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #dedede;
    padding-left: 15px;
}

/*.all-person div {
    border-bottom: 1px solid #dedede;
    padding: 10px 0px;
}*/

.message-section1 img{
    border-radius: 100%;
    width: 90%;
}
.message-section1 h5 {
    font-size: 16px;
    font-weight: 600;
}

.all-person div h5 span {
    display: block;
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 400;
    padding-top: 5px;
}
/*.chat-screen-sec {
    float: left;
    width: 100%;
}*/
.chat-screen-head {
/*    float: left;*/
    width: 100%;
    border: 1px solid #dcd7d7;
    padding: 18px 20px;
    box-shadow: 1px 1px 10px #d8d8d8;
    border-radius: 5px;
/*    margin-bottom: 25px;*/
}
.chat-screen-head h3 {
    font-size: 24px;
    letter-spacing: 0.3px;
    font-weight: 600;
    padding-top: 5px;
}
.message-actions {
    float: right;
}
/*.message-actions a {
    color: #f28d01;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-top: -4px;
    margin-bottom: -5px;
}*/

.message-actions a img {
    width: 35px;
}
/*.chat-screen-head h3 a {
    float: right;
    color: #f28d01;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-top: -4px;
    margin-bottom: -5px;
}*/

.sender-message {
    width: 100%;
}



.sender-message img {
    border-radius: 100%;
    width: 60px;
    display: inline-block;
}



.sender-message h5 {
    vertical-align: top;
    display: inline-block;
    max-width: 70%;
    background: #2a2a2a;
    color: silver;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    padding: 15px 25px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    margin-left: 30px;
    position: relative;
    margin-top: 5px;
}
.sender-message h5::before {
    font-size: 0px;
    content: "23";
    position: absolute;
    background-image: url(../images/black-caron.jpg);
    width: 25px;
    height: 25px;
    left: -25px;
    top: 0px;
    background-repeat: no-repeat;
    background-position: top right;
    top: 30%;
}

.rec-message img {
    border-radius: 100%;
    width: 60px;
    display: inline-block;
}

.rec-message {
    text-align: right;
}
.rec-message h5 {
    vertical-align: top;
    display: inline-block;
    max-width: 70%;
    background: #f1f1f1;
    color: black;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    padding: 15px 25px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    margin-right: 30px;
    position: relative;
    margin-top: 5px;
    text-align: left;
}

.sender-message p {
    font-size: 12px;
    padding-left: 100px;
    color: grey;
    letter-spacing: 0.3px;
}


.rec-message p {
    font-size: 12px;
    padding-right: 100px;
    color: grey;
    letter-spacing: 0.3px;
}

.rec-message h5::before {
    font-size: 0px;
    content: "23";
    position: absolute;
    background-image: url(../images/silver-caron.jpg);
    width: 25px;
    height: 25px;
    right: -22px;
    top: 0px;
    background-repeat: no-repeat;
    background-position: top right;
    top: 30%;
    background-size: 22px;
}

.chat-screen-data {
    max-height: 500px;
    width: 100%;
    overflow-x: hidden;
}
.chat-screen-data:-webkit-scrollbar-track , .account-over:-webkit-scrollbar-track , .all-person:-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: silver;
}

.chat-screen-data::-webkit-scrollbar , .account-over::-webkit-scrollbar , .all-person::-webkit-scrollbar
{
    width: 5px;
    background-color: silver;
}

.chat-screen-data::-webkit-scrollbar-thumb , .account-over::-webkit-scrollbar-thumb , .all-person::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #F4B423;
}

.message-profile {
    text-align: center;
}

.message-profile img {
    width: 120px;
    border-radius: 100%;
}


.message-profile h4 {
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 20px;
}

.message-profile h5 {
    color: grey;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.message-profile p {
    color: #8a8a8a;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.shad1 {
    box-shadow: 1px 1px 10px #d8d8d8;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    width: 100%;
}
.shad1 button {
    top: 8px;
    right: 5px;
}

.points-head h3 {
    font-size: 28px;
    line-height: 40px;
}

.points-head h3 b {
    font-size: 45px;
    vertical-align: bottom;
}
.points-head p {
    letter-spacing: 0.6px;
}


.points-box {
    text-align: center;
    border: 1px solid #e2e2e2;
    padding: 20px 18px;
    position: relative;
    box-shadow: 1px 1px 10px #dedede;
    border-radius: 4px;
}

.points-box h4 {
    font-size: 26px;
    letter-spacing: 0.4px;
    font-weight: 600;
}


.points-box h6 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.points-box p {
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.points-off {

    width: 100%;
    position: absolute;
    background: rgb(242 141 1 / 0.5);
    left: 0px;
    top: 0px;
    height: 100%;
    padding: 50px 0px;
}
.points-off h5 {
    background: white;
    padding: 40px 35px;
}

.points-off h5 b {
    display: block;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}



/*.orders-filters {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}*/
/*.orders-filters-data .add-field1 {
    margin: 0px;
}
.orders-filters-data .add-field1 button {
    padding: 9px 35px;
}*/


/*.sort-by2 {
    float: left;
    width: 100%;
}*/

.sort-by2 span {
/*    display: inline-block;*/
    color: grey;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-size: 16px;
   /* margin-right: 10px;*/
}
.sort-by2 select {
    /*display: inline-block;*/
    border: none;
    padding: 2px 0px;
    border-bottom: 1px solid black;
    width: 120px;
    outline: none;
}
/*.all-orders {
    float: left;
    width: 100%;
}*/
.orders-filters-data {
 /*   float: left;
    width: 100%;*/
    text-align: right;
}
/*.orders-filters-data .add-field1 {
    margin: 0px;
}*/

.orders-filters-data-btn
{   
    background: none;
    border: 1px solid #b1654b;
    padding: 9px 40px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}
.orders-filters-data-btn.active
{ 

    background:#186780;
    border: 1px solid #f4b423;
    color: white;
}

.orders-filters-data .add-field1 button {
    padding: 9px 35px;
}
/*.order-status div h5 span {
    margin-right: 10px;
    font-weight: 600;
}*/

.order-status h5 {
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 700;
    color: #6ac259;
}
.order-status h5 b {
    color: grey;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
}
.order-details {
/*    float: left;
    width: 100%;*/
    background: #efefef;
    border-radius: 10px;
/*    overflow: hidden;*/
}
.order-image img {
    width: 100%;
    border-radius: 5px;
}
.order-text1 h4 {
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 700;
}
.order-text1 h5 {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.order-text2 h3 {
    font-weight: 600;
    letter-spacing: 0.5px;
}
.order-text2 h5 {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 18px;
}
.order-text3 p {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 19px;
}
.order-status2
{
    text-align: right;
}
.order-status2 a {
    font-weight: 600;
    margin-left: 15px;
    border-bottom: 1px solid;
    font-size: 14px;
}


/*.order-status div {
    float: left;
}*/
/*.order-status {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}*/
.add-field1 button {
    background: none;
    border: 1px solid #b1654b;
    padding: 9px 50px;
    position: relative;
    color: black;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-radius: 4px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    font-size: 15px;
}
.user-sell-btn {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 8px 40px;
    color: #186780;
    background: #f5b524;
    border-radius: 25px;
    margin-right: 30px;
}
.user-sell-btn:hover{
    color:#f5b524;
    background: #186780;
}
.user-sell-icon{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 25px;
    padding: 0px 10px;
    color: #186780;
}
.user-sell-icon i:hover{
    color: #f5b524;
}
.user-sell-nav{
    float: right;
}
.user-sell-name {
    font-weight: 600;
    color: #186780;
    padding: 10px 25px;
}
 .custom-nav-dashboard a {
    border: none !important;
}

button.trigger-btn1 {
    background: #006680;
    border: none;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    letter-spacing: 0.4px;
    border-radius: 30px;
}

button.trigger-btn1:hover {
    background:black;
}

/*Mobile Devices*/
@media screen and (max-width:519px) and (min-width:320px) { 

.banner-form h3 {
    font-size: 30px;
}
.banner-form {
    padding-top: 0px !important;
}
.form-search1 input {
    padding: 6px 10px;
    font-size: 14px;
}
.form-search2 input {
    font-size: 14px;
    padding: 6px 18px;
}
.form-search2 {
    width: 22%;
}
.form-search1 {
    width: 78%;
}
.banner-form {
    padding-right: 30px !important;
}
.search-catagory button {
    padding: 2px 6px;
    font-size: 12px;
    margin-right: 0px;
}
.pad-mob-left-10 {
    padding-left: 15px !important;
}
.search-catagory-section1 h4 {
    font-size: 16px;
}
.search-catagory {
    padding-bottom: 30px;
}
.logo a img {
    width: 100%;
}
.sign-buttons a {
    font-size: 11px;
    padding: 0px 0px;
}
.sign-up-btn {
    padding: 5px 6px 3px 6px !important;
    font-size: 10px !important;
}
.sign-up-btn-user {
    padding: 7px 20px 7px 20px !important;
    font-size: 10px !important;
}
.sign-in-btn {
    padding: 5px 6px 3px 6px !important;
    margin-left: 0px;
    font-size: 10px !important;
}
.sec-head h4 {
    font-size: 22px;
}
.sec-head {
    padding-bottom: 20px !important;
}
.slick-slide img {
    width: 100%;
}
.section-mobile {
    padding-top: 50px !important;
}
.how-works-data {
    padding-bottom: 60px !important;
}
.section-2-data {
    max-width: 100%;
}
.section-2-data h4 {
    font-size: 30px;
}
.marketplace-sec h3 {
    font-size: 12px;
}
.footer-list {
    padding-top: 30px;
}
.thankyou-book-sec-1 h2 {
    font-size: 18px;
}
.thankyou-book-sec-1 h2 img {
    width: 20%;
}
.product_quantity {
    padding-top: 5px !important;
}
.thankyou-book-sec-2 h3 {
    text-align: center;
    font-size: 18px;
}
.thankyou-book-sec-2 h3 span {
    font-size: 21px;
}
.thankyou-book-sec-4 {
    padding-left: 0px !important;
    padding-top: 20px;
}
.thankyou-book-sec-4 p {
    margin-bottom: 15px;
    font-size: 16px;
}
.thankyou-book-sec-5 p {
    font-size: 14px;
}
.thankyou-book-sec-8 {
    font-size: 13px;
    padding: 7px 10px;
    margin-top: 10px;
}
.compare-table {
    overflow-x: auto;
}
.comparision-table-btn {
    padding: 5px;
    width: 100%;
    font-size: 12px;
}
.compare-table tr th {
    padding: 20px 15px;
}
.compare-table tbody tr td {
    padding: 0px 10px;
    font-size: 12px;
}
.banner-sec img {
    width: 60%;
}
.header-image {
    text-align: center;
}
.section2-img img {
    width: 60%;
}
.section2-img {
    text-align: center;
}
.steps-text {
    padding: 10px 0px !important;
}
.comparison-sec1 {
    padding: 15px 15px;
}
label.blue-color img {
    width: 25%;
}
.payment-summary {
    margin-top: 20px;
}
.summary-text {
    padding: 15px 10px 0px 30px;
}
.services-box {
    margin-bottom: 20px;
}
.price-section {
    text-align: right;
}
.thankyou-book-sec p {
    font-size: 16px;
    max-width: 100%;
}
.thankyou-book-sec-7 p {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 5px;
}
.thankyou-book-sec-6 h2 {
    font-size: 25px;
}
.thankyou-book-sec-7 img {
    width: 25%;
}
.pricing-pack-section1 h2 {
    font-size: 30px;
}
.pricing-pack-section1 h4 {
    font-size: 17px;
    padding-top: 15px;
}
.rate {
    padding-top: 9px !important;
    display: block;
}
.nav-tabs li a {
    padding: 10px 21px;
}
.nav-tabs li a {
    font-size: 16px;
}
ul.nav.nav-tabs {
    padding-top: 20px;
}
.pricing-pack-section-3 h2 {
    font-size: 25px;
}
.pricing-pack-section-3 h3 {
    font-size: 18px;
}

/*modal*/

.custom-modal {
    padding: 30px;
}
.inner-modal-side-one h3 {
    font-size: 28px;
}
.inner-modal-side-one p {
    font-size: 14px;
    padding: 10px 0px !important;
} 
.custom-modal1-form {
    padding: 30px 20px !important;
}
.row.pad-top-30.pad-right-30 {
    padding-right: 0px !important;
}
.inner-modal-side-one {
    padding: 30px 20px;
}
.modal-dialog {
    margin: 0 auto;
    padding: 10px;
}
.custom-modal2-form {
    padding: 30px 20px !important;
}
.verify-account-data-input {
    width: 35px;
    height: 35px;
}
.verify-account-data h4 {
    font-size: 25px;
}
.service-catagory-header h2 {
    font-size: 28px;
}
.service-catagory-header h3 {
    font-size: 18px;
}
.service-popup img {
    width: 25%;
}
.verify-address-data h2 {
    font-size: 25px;
}
.promo-code-sec h4 {
    font-size: 25px;
}
.coupon-field-btn {
    font-size: 14px;
}
.verify-address-data h4 {
    font-size: 25px;
}
.form-field2 textarea {
    height: 100px !important;
}
.time-slot-data h4 {
    font-size: 23px;
}
.form-field2-btn:nth-child(1) {
    margin-bottom: 10px;
    width: 100%;
}
/*user area*/

.dispute-status {
    padding-top: 10px;
    padding-bottom: 10px;
}
.account-handlers ul li a {
    font-size: 14px;
}
.personal-detail-section {
    padding-left: 0px !important;
}
.update-profile {
    padding-top: 0px !important;
    padding-left: 0px !important;
}
.profile-image {
    text-align: center;
}
.avatar-upload {
    margin-right: 0px !important;
    padding-bottom: 10px;
}
.total-paid {
    border-radius: 5px;
    padding: 15px 0px 15px 55px;
}
.total-paid i {
    left: 25px;
    top: 20px;
    width: 36px;
    height: 36px;
    padding-top: 8px;
    font-size: 20px;
}
.total-paid h5 {
    font-size: 12px;
}
.total-paid h5 p {
    font-size: 18px;
}
.sort-by {
    text-align: left;
    padding-top: 0px !important;
}
.sort-by span {
    font-size: 18px;
}
.fav-box {
    margin-bottom: 20px;
}
.account-over {
    padding-right: 0px !important;
}
.message-section1 h5 {
    padding-top: 10px;
}
.orders-filters-data {
    text-align: center;
    padding-top: 20px;
}
.orders-filters-data-btn {
    padding: 9px 36px;
}
.order-status {
    padding-bottom: 10px;
}
.order-text1 {
    padding: 0px 20px;
}
.order-text2
{
    padding: 0px 20px;
}
.order-text3 {
    padding: 0px 20px;
}
.user-sell-btn {
    font-size: 14px;
    padding: 5px 20px;
    margin-right: 0px;
}
.user-sell-icon {
    font-size: 16px;
    padding: 0px 4px;
}
.user-sell-name {
    display: none;
}
.nav-mobile {
    display: none;
}
}


@media screen and (max-width:992px) and (min-width:768px) { 
.logo {
    padding-top: 5px;
}
.logo a img {
    width: 75%;
}
.banner-form {
    padding-top: 0px !important;
    padding-right: 0px !important;
}
.banner-form h3 {
    font-size: 35px;
}
.pad-mob-left-10 {
    padding-left: 15px !important;
}
.search-catagory button {
    padding: 2px 13px;
}
.section-mobile {
    padding-top: 50px !important;
}
.section-2-data h4 {
    font-size: 36px;
}
.section-2-data {
    max-width: 100%;
}
.services-inner-btn1 {
    font-size: 9px;
    padding: 4px 6px;
}
.services-inner-btn2 {
    font-size: 9px;
    padding: 4px 6px;
    float: none;
}
.services-inner {
    padding: 10px !important;
}
.rating-section {
    font-size: 13px;
}
.rating-section i {
    font-size: 13px;
}
.price-section {
    font-size: 12px;
    padding-top: 6px;
}
.services-inner-1 img {
    padding-left: 0px;
    width: 35%;
}
.services-inner-des {
    font-size: 12px;
}
.services-inner-btn {
    width: 100%;
    text-align: center;
}
.footer-list h3 {
    font-size: 18px;
}
.footer-list a {
    font-size: 14px;
}
.footer-section {
    margin: 0px !important;
}
.thankyou-book-sec-1 h2 {
    font-size: 25px;
}
.thankyou-book-sec-2 h3 span {
    font-size: 20px;
}
.thankyou-book-sec-2 h3 {
    font-size: 18px;
}
.thankyou-book-sec-1 h2 img {
    width: 20%;
}
.product_quantity {
    padding-top: 10px !important;
}
.thankyou-book-sec-4 {
    padding-left: 0px !important;
}
.summary-text p {
    font-size: 12px;
}
label.blue-color img {
    width: 20%;
}
.summary2-text h2 {
    font-size: 16px;
}
.summary2-text h3 {
    font-size: 14px;
}
.summary2-text h4 {
    font-size: 14px;
}
.payment-confirm-btn {
    font-size: 16px;
}
.payment-data h3 {
    font-size: 22px;
}
.steps-text h5 {
    font-size: 15px;
}
.comparision-table-btn {
    width: 100%;
    font-size: 15px;
}
.thankyou-book-sec-4 p {
    font-size: 18px;
    margin-bottom: 20px;
}
.thankyou-book-sec-3 {
    padding-bottom: 20px;
}
.pricing-pack-section1 h2 {
    font-size: 25px;
}
.pricing-pack-section1 h4 {
    padding-top: 13px;
}
.rate {
    padding-top: 10px;
    display: block;
}
.nav-tabs li a {
    padding: 10px 14px;
}
.nav-tabs li a {
    font-size: 16px;
}
.tab-content {
    padding: 20px 10px 10px 10px!important;
}
.pricing-pack-section2 p {
    font-size: 12px;
    padding-bottom: 10px !important;
}
.pricing-pack-section-btn {
    font-size: 14px;
    padding: 10px 16px;
    width: 75%;
}
.pricing-pack-section-btn2 {
    font-size: 14px;
    padding-top: 10px !important;
}
.pricing-pack-section2 h3 {
    font-size: 14px;
    padding-top: 0px !important;
}
.pricing-pack-section-3 h2 {
    font-size: 30px;
}


/*user area*/

.account-handlers ul li a {
    font-size: 14px;
}
.personal-detail-section {
    padding-left: 0px !important;
}
.update-profile {
    padding-top: 0px !important;
    padding-left: 0px !important;
}
.sort-by {
    text-align: left;
    padding-top: 2px !important;
}
.sort-by span {
    font-size: 18px;
}
.sort-by select {
    width: 100%;
}
.account-over {
    padding-right: 0px !important;
}
.fav-box {
    margin-bottom: 20px;
}
.points-off h5 {
    padding: 20px 15px;
}
.order-text1 h4 {
    padding-top: 8px !important;
    font-size: 18px;
}
.order-text1 h5 {
    font-size: 11px;
}
.order-text2 h5 {
    padding-top: 10px !important;
    font-size: 15px;
}
.order-text2 h3 {
    font-size: 20px;
}
.order-text3 {
    padding-top: 8px !important;
}
.order-text3 p {
    font-size: 12px;
    padding-bottom: 8px !important;
}
.section2-img {
    padding-top: 25px;
}
.user-sell-icon {
    font-size: 20px;
    padding: 0px 10px;
}
.user-sell-btn {
    margin-right: 10px;
}


/*modal */

.inner-modal-side-one h3 {
    font-size: 30px;
}
.inner-modal-side-one p {
    font-size: 14px;
}

.custom-modal {
    padding: 30px;
}
/*.inner-modal-side-one {
    padding: 30px 20px;
}*/
.modal-dialog {
    margin: 0 auto;
    padding: 10px;
}

}